:root {
    --primary-dark: #333;
    --primary-light: #fff;
    --secondary-light: #ddd;
    --danger: lightcoral;
    --ocean: lightblue;
    --miss: lightgrey;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-light);
}

header {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    gap: 20px;
}

.container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.playerContainer > .controls {
    display: flex;
    margin: 10px 0;
    gap: 10px;
}

.playerContainer > .controls > button {
    width: 80px;
    padding: 3px 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: var(--primary-light);
    cursor: pointer;
}

.playerContainer > .endgame {
    display: none;
}

.playerContainer > .showEndgame {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.playerContainer > .showEndgame > button {
    width: 80px;
    cursor: pointer;
}

.playerContainer > .hideControls {
    display: none;
}

/* player's boards */

.container > div > .playerBoard > .hasShip,
.container > div > .computerBoard > .hasShip,
.editContainer > .hasShip {
    background-color: var(--ocean);
}

.playerBoard,
.computerBoard,
.editContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.playerBoard > div,
.computerBoard > div,
.editContainer > div {
    border: 1px solid;
    width: 33px;
    height: 33px;
    background-color: var(--primary-light);
}

.container > div > .computerBoard > .discovered,
.container > div > .playerBoard > .discovered {
    background-color: var(--miss);
}
.container > div > .computerBoard > .shipHit,
.container > div > .playerBoard > .shipHit {
    background-color: var(--danger);
}

/* <-------------------------> */

/* prompt */

.prompt {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    top: 0;
    display: grid;
    place-items: center;
    display: none;
}

.showPrompt {
    display: grid;
}

.promtContainer {
    background-color: var(--secondary-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:
        35px 35px 49px #afafaf,
        -35px -35px 49px #c7c7c7;
    gap: 10px;
}

.promtContainer input {
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid;
}

.promtContainer button {
    padding: 3px 20px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.ships-drag {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.ships-drag > p {
    width: 340px;
    text-align: center;
    text-wrap: wrap;
}

.componentContainer {
    border: 1px solid;
    min-height: 100px;
    padding: 5px;
    /* scroll-snap-type: x mandatory; */
    display: flex;
    overflow: auto;
    width: fit-content;
    /* flex-direction: row; */
    gap: 30px;
    align-items: center;
}

.editContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* scroll-snap-align: center; */
    margin: 0 10px;
}

.editContainer > div,
.componentContainer > div > div {
    border: 1px solid;
    width: 33px;
    height: 33px;
    background-color: var(--primary-light);
}

/* <-------------------------> */

footer {
    height: 10vh;
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    gap: 10px;
}

footer a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 1s ease;
}

footer a img:hover {
    transform: rotate(720deg);
}

/* 
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}  */
